# pip install -r requirements.txt

streamlit
langchain==1.3.11
langchain-classic==1.0.8
langchain-community==0.4.2
langchain-core==1.4.8
langchain-huggingface==1.2.2
langchain-text-splitters==1.1.2
transformers
sentence-transformers
faiss-cpu
PyPDF2
torch
torchvision==0.27.1
tiktoken
rank_bm25
sentence-transformers